<!DOCTYPE html>
<meta charset="utf-8">
<title>Google Maps Geometry</title>
<link href="google.css" rel="stylesheet" type="text/css" media="all" />

<!-- development link: http://ghkl/maps/google.html -->

<body>
  <div class="map-container">
    <div style="height: 100%;" id="map"></div>
  </div>

  <div class="control" style="width: 230px;">
    <button id="locate">Geolocate me</button>
    <div id="mouse_coordinates"></div>
    <div id="search"></div>
  </div>

  <div class="control">
    <p>Hold <code>shift</code> to draw on the map.</p>
    <div id="features"></div>
  </div>

  <div style="clear: both">&nbsp;</div>
</body>

<script type="text/template" id="FeaturesTable">
  <h3>Features</h3>
  <table>
    <tbody>
    </tbody>
  </table>
  <p><code>shift</code>+click to delete individual features</p>
  <button name="clear">Clear all features</button>
  <button name="edit">Edit GeoJSON</button>
</script>
<script type="text/template" id="FeaturesEditor">
  <textarea><%= json %></textarea>
  <button name="save">Save</button>
</script>
<script type="text/template" id="FeatureRow">
  <td><%= type %></td>
  <td><%= coordinates %></td>
  <td><%= label %></td>
</script>
<script type="text/template" id="MouseCoordinatesView">
  <h3>Mouse Coordinates</h3>
  <table>
    <tr>
      <td>Latitude</td>
      <td class="latitude">&hellip;</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td class="longitude">&hellip;</td>
    </tr>
  </table>
</script>
<script type="text/template" id="SearchView">
  <h3>Search</h3>
  <form>
    <input />
    <button type="submit">Search</button>
  </form>
  <p></p>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDYwRP0wOSFFgzJDr73JtketDW335C234&sensor=true"></script>
<script src="lib/underscore.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/backbone.min.js"></script>
<script src="jquery.flexibleArea.js"></script>
<script src="common.js"></script>

<script src="google.js"></script>
<script>

var temporary_rectangle = null;
var mousedown_latLng = null;
var dragging = false;

$(function() {
  var features = new FeatureCollection();

  // map center defaults to Millenium Park, Chicago, IL
  var map = new google.maps.Map($('#map').get(0), {
    zoom: parseInt(localStorage.zoom || 8, 10),
    center: parseLatLng(localStorage.center || '41.8831,-87.6219'),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  map.addListener('center_changed', function() {
    localStorage.center = map.getCenter().toUrlValue();
  })
  map.addListener('zoom_changed', function() {
    localStorage.zoom = map.getZoom();
  })
  map.addListener('mousedown', function(ev) {
    mousedown_latLng = ev.latLng;
    if (down[16]) { // shift-down
      temporary_rectangle = new google.maps.Rectangle({
        bounds: new google.maps.LatLngBounds(ev.latLng, ev.latLng),
        clickable: false,
        map: map
        // strokeColor: '#FF0000',
        // strokeOpacity: 0.8,
        // strokeWeight: 2,
        // fillColor: '#FF0000',
        // fillOpacity: 0.35
      });
    }
    // ev.stop() does nothing, so we have
    //   document mousedown handling elsewhere for deactivation purposes
  });
  map.addListener('mousemove', function(ev) {
    if (temporary_rectangle && down[16]) { // shift-down
      var initial_bounds = new google.maps.LatLngBounds(mousedown_latLng, mousedown_latLng);
      temporary_rectangle.setBounds(initial_bounds.extend(ev.latLng));
      // 'lat_lo,lng_lo,lat_hi,lng_hi'
    }
  });
  map.addListener('mouseup', function(ev) {
    var geometry = null;
    var label = null
    if (temporary_rectangle) {
      geometry = Polygon.fromLatLngBounds(temporary_rectangle.getBounds());
      temporary_rectangle.setMap(null);
      temporary_rectangle = null;
      label = 'Drawn';
    }
    else if (!dragging) {
      geometry = Point.fromLatLng(ev.latLng);
      label = 'Click';
    }

    if (geometry) {
      // cut off the day of the week, then capture until the timezone
      label += ' on ' + new Date().toString().match(/^\w+ (.+) GMT/)[1];
      var feature = new Feature({
        geometry: geometry,
        properties: {label: label}
      });
      features.add(feature);
    }
  });
  map.addListener('dragstart', function() {
    dragging = true;
  });
  map.addListener('dragend', function() {
    dragging = false;
  });
  map.setOptions(gmap_optionset.interactive);

  // handle map views
  var features_map = new FeaturesMap({collection: features, map: map});

  var features_table = new FeaturesTable({collection: features});
  $('#features').append(features_table.el);

  var mouse_coordinates_view = new MouseCoordinatesView({map: map});
  $('#mouse_coordinates').append(mouse_coordinates_view.el);

  var search_view = new SearchView({});
  $('#search').append(search_view.el);
  search_view.on('feature', function(feature) {
    features.add(feature);
    feature.trigger('focus');
  });

  // freeze the map on shift (which == 16)
  $(window).on('keydown', function(ev) {
    if (ev.which == 16) {
      map.setOptions(gmap_optionset.frozen);
      map.getDiv().style.opacity = .7;
    }
  });
  $(window).on('keyup', function(ev) {
    if (ev.which == 16) {
      map.setOptions(gmap_optionset.interactive);
      map.getDiv().style.opacity = .99;
    }
  });

  $('#locate').click(function() {
    getPosition(function(err, position) {
      if (err) {
        console.error('Could not get user position: ' + err.toString());
      }
      else {
        var center = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

        var label = 'Location on ' + new Date().toString().match(/^\w+ (.+) GMT/)[1];
        var feature = new Feature({
          geometry: Point.fromLatLng(ev.latLng),
          properties: {label: label}
        });
        features.add(feature);
        feature.trigger('focus');

      }
    });
  });

});
</script>
