html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.25em 0 0.5em;
}
p {
  margin: 0.5em 0;
}
label span {
  font-weight: bold;
}
table {
  border-collapse: collapse;
}
td {
  padding: 0 8px 2px 0;
  vertical-align: top;
  font-size: 90%;
  white-space: nowrap;
}
button {
  margin: 10px 0;
}
textarea {
  display: block;
}
.control {
  margin: 10px;
  float: left;
}
.latitude, .longitude {
  text-align: right;
}

.map-container {
  margin: 10px;
  border: 1px solid #bbb;
  background-color: #ddd;
  height: 70%;
}

.features tr {
  cursor: normal;
}
.features td {
  padding: 2px 8px 2px 0;
}
